InventoryWPFApplication/Service References/UserServiceReference/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1447/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1447/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1447/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InventoryDataAssembly" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_logIn_InputMessage">
    <wsdl:part name="parameters" element="tns:logIn" />
  </wsdl:message>
  <wsdl:message name="IUserService_logIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:logInResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_addPart_InputMessage">
    <wsdl:part name="parameters" element="tns:addPart" />
  </wsdl:message>
  <wsdl:message name="IUserService_addPart_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPartResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_addUser_InputMessage">
    <wsdl:part name="parameters" element="tns:addUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_addUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_deleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_deleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_deleteInventory_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteInventory" />
  </wsdl:message>
  <wsdl:message name="IUserService_deleteInventory_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_reservePart_InputMessage">
    <wsdl:part name="parameters" element="tns:reservePart" />
  </wsdl:message>
  <wsdl:message name="IUserService_reservePart_OutputMessage">
    <wsdl:part name="parameters" element="tns:reservePartResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_searchUserByFirstName_InputMessage">
    <wsdl:part name="parameters" element="tns:searchUserByFirstName" />
  </wsdl:message>
  <wsdl:message name="IUserService_searchUserByFirstName_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchUserByFirstNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_addCart_InputMessage">
    <wsdl:part name="parameters" element="tns:addCart" />
  </wsdl:message>
  <wsdl:message name="IUserService_addCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCartResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_deleteCart_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteCart" />
  </wsdl:message>
  <wsdl:message name="IUserService_deleteCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteCartResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_searchCartByUsrID_InputMessage">
    <wsdl:part name="parameters" element="tns:searchCartByUsrID" />
  </wsdl:message>
  <wsdl:message name="IUserService_searchCartByUsrID_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchCartByUsrIDResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_searchCartByInvID_InputMessage">
    <wsdl:part name="parameters" element="tns:searchCartByInvID" />
  </wsdl:message>
  <wsdl:message name="IUserService_searchCartByInvID_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchCartByInvIDResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_deleteCartByUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteCartByUserID" />
  </wsdl:message>
  <wsdl:message name="IUserService_deleteCartByUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteCartByUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_getAllCarts_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllCarts" />
  </wsdl:message>
  <wsdl:message name="IUserService_getAllCarts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllCartsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_searchUserByLastName_InputMessage">
    <wsdl:part name="parameters" element="tns:searchUserByLastName" />
  </wsdl:message>
  <wsdl:message name="IUserService_searchUserByLastName_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchUserByLastNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_searchPartByDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:searchPartByDescription" />
  </wsdl:message>
  <wsdl:message name="IUserService_searchPartByDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchPartByDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_getAllParts_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllParts" />
  </wsdl:message>
  <wsdl:message name="IUserService_getAllParts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllPartsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_getAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_getAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_calculateTotal_InputMessage">
    <wsdl:part name="parameters" element="tns:calculateTotal" />
  </wsdl:message>
  <wsdl:message name="IUserService_calculateTotal_OutputMessage">
    <wsdl:part name="parameters" element="tns:calculateTotalResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_calculateReserved_InputMessage">
    <wsdl:part name="parameters" element="tns:calculateReserved" />
  </wsdl:message>
  <wsdl:message name="IUserService_calculateReserved_OutputMessage">
    <wsdl:part name="parameters" element="tns:calculateReservedResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_calculateBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:calculateBalance" />
  </wsdl:message>
  <wsdl:message name="IUserService_calculateBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:calculateBalanceResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="logIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/logIn" message="tns:IUserService_logIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/logInResponse" message="tns:IUserService_logIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPart">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/addPart" message="tns:IUserService_addPart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/addPartResponse" message="tns:IUserService_addPart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/addUser" message="tns:IUserService_addUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/addUserResponse" message="tns:IUserService_addUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/deleteUser" message="tns:IUserService_deleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/deleteUserResponse" message="tns:IUserService_deleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteInventory">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/deleteInventory" message="tns:IUserService_deleteInventory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/deleteInventoryResponse" message="tns:IUserService_deleteInventory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reservePart">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/reservePart" message="tns:IUserService_reservePart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/reservePartResponse" message="tns:IUserService_reservePart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchUserByFirstName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/searchUserByFirstName" message="tns:IUserService_searchUserByFirstName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/searchUserByFirstNameResponse" message="tns:IUserService_searchUserByFirstName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/addCart" message="tns:IUserService_addCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/addCartResponse" message="tns:IUserService_addCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/deleteCart" message="tns:IUserService_deleteCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/deleteCartResponse" message="tns:IUserService_deleteCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchCartByUsrID">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/searchCartByUsrID" message="tns:IUserService_searchCartByUsrID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/searchCartByUsrIDResponse" message="tns:IUserService_searchCartByUsrID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchCartByInvID">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/searchCartByInvID" message="tns:IUserService_searchCartByInvID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/searchCartByInvIDResponse" message="tns:IUserService_searchCartByInvID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteCartByUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/deleteCartByUserID" message="tns:IUserService_deleteCartByUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/deleteCartByUserIDResponse" message="tns:IUserService_deleteCartByUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllCarts">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/getAllCarts" message="tns:IUserService_getAllCarts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/getAllCartsResponse" message="tns:IUserService_getAllCarts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchUserByLastName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/searchUserByLastName" message="tns:IUserService_searchUserByLastName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/searchUserByLastNameResponse" message="tns:IUserService_searchUserByLastName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchPartByDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/searchPartByDescription" message="tns:IUserService_searchPartByDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/searchPartByDescriptionResponse" message="tns:IUserService_searchPartByDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllParts">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/getAllParts" message="tns:IUserService_getAllParts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/getAllPartsResponse" message="tns:IUserService_getAllParts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/getAllUsers" message="tns:IUserService_getAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/getAllUsersResponse" message="tns:IUserService_getAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="calculateTotal">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/calculateTotal" message="tns:IUserService_calculateTotal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/calculateTotalResponse" message="tns:IUserService_calculateTotal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="calculateReserved">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/calculateReserved" message="tns:IUserService_calculateReserved_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/calculateReservedResponse" message="tns:IUserService_calculateReserved_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="calculateBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/calculateBalance" message="tns:IUserService_calculateBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/calculateBalanceResponse" message="tns:IUserService_calculateBalance_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logIn">
      <soap:operation soapAction="http://tempuri.org/IUserService/logIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPart">
      <soap:operation soapAction="http://tempuri.org/IUserService/addPart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/addUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/deleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteInventory">
      <soap:operation soapAction="http://tempuri.org/IUserService/deleteInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reservePart">
      <soap:operation soapAction="http://tempuri.org/IUserService/reservePart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchUserByFirstName">
      <soap:operation soapAction="http://tempuri.org/IUserService/searchUserByFirstName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCart">
      <soap:operation soapAction="http://tempuri.org/IUserService/addCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCart">
      <soap:operation soapAction="http://tempuri.org/IUserService/deleteCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchCartByUsrID">
      <soap:operation soapAction="http://tempuri.org/IUserService/searchCartByUsrID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchCartByInvID">
      <soap:operation soapAction="http://tempuri.org/IUserService/searchCartByInvID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCartByUserID">
      <soap:operation soapAction="http://tempuri.org/IUserService/deleteCartByUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCarts">
      <soap:operation soapAction="http://tempuri.org/IUserService/getAllCarts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchUserByLastName">
      <soap:operation soapAction="http://tempuri.org/IUserService/searchUserByLastName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchPartByDescription">
      <soap:operation soapAction="http://tempuri.org/IUserService/searchPartByDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllParts">
      <soap:operation soapAction="http://tempuri.org/IUserService/getAllParts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/getAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculateTotal">
      <soap:operation soapAction="http://tempuri.org/IUserService/calculateTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculateReserved">
      <soap:operation soapAction="http://tempuri.org/IUserService/calculateReserved" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculateBalance">
      <soap:operation soapAction="http://tempuri.org/IUserService/calculateBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:1447/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>